/*--------------------General--------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 30% 14% 14% 14% 14% 14%;
    grid-template-rows: auto;
    grid-template-areas:
        "header nav nav nav nav nav"
        "main main main main main main"
        ;
        /*
        https://www.canva.com/colors/color-wheel/ style of bg inspired by
        refer to week 2 pdf for grid template
        https://developer.mozilla.org/en-US/docs/Web/HTML/Element/span check obselete stuff here*/
}

header {
    background-color: gainsboro;
    grid-area: header;
    padding-bottom: 2em;
}

nav {
    background-color: gainsboro;
    grid-area: nav;
    padding-bottom: 2em;
}

main {
    background-color: ;
    grid-area: main;
}

p,
li {
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

.header {}

.headerLogo {}

.headerButtonActive {
    font-family: Arial, Helvetica, sans-serif;
}

.headerButtonInactive {
    font-family: Arial, Helvetica, sans-serif;
}

/*--------------------Index Style--------------------*/



/*--------------------Project Style--------------------*/

.projectImg {
    max-width: 100%;
}

/*--------------------Contact Style--------------------*/



/*--------------------Video Demo Style--------------------*/



/*--------------------Site Report Style--------------------*/